extends layout

block content
  .container
    h1 Kaj se ovdje događa
    p Ništa osim učenja Expressa i Jadea
    ul
        li Jer su dobre tehnologije
        li Jer ti mogu donijeti posao
        li Jer zašto ne
    p Random text: Teleskop je vremenski stroj