extends layout

block content
  .jumbotron
    .container
      h1 Express test
      p Jumbo za test Express i Jade Drle made
      a.btn.btn-primary.btn-lg(href='#') Nauci vise o ovome
  .container
    .row
      .col-md-4
        h2 About
        p Nevjerojatna cuda koja ti trebaju
        a.btn.btn-default(href="#") Pogledaj detalje
      .col-md-4
        h2 Zašto
        p Zašto ne
        a.btn.btn-default(href="#") Pogledaj detalje
      .col-md-4
        h2 Uzmi
        p Dok se nudi
        a.btn.btn-default(href="#") Pogledaj detalje
